@import '../atendimentos/index.css';

/* Ajustes específicos de contas bancárias */
.badge-corrente {
    background: #e0f2fe;
    color: #075985;
}

.badge-investimento {
    background: #dcfce7;
    color: #166534;
}

.badge-poupanca {
    background: #fef3c7;
    color: #92400e;
}

.badge-credito {
    background: #ede9fe;
    color: #5b21b6;
}
